<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <script src="{{ url_for('static', filename='js/enter.js') }}"></script>
 </head>
  <body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  <div class="wrapper container">
  <header>
	<a href="/"><img src="/static/ico/favicon.ico" alt="Bondars logo"> EasyDocker </a>
  </header>

  <div class="container-fluid" id="main">
    <div class="navbar navbar-default navbar-fixed-top " nav-link-padding="10px" nav-link-padding="30px" role="navigation">
      <div class="container">
        <div class="navbar-header">
		<a class="navbar-left nav navbar-nav"><img src="/static/ico/favicon.ico" width="40" height="40"></a>
		<!-- <a class="navbar-brand" href="#">
			<img alt="Bondar's" src="ico/favicon.ico">
		</a> -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">		    
            <li class="active"><a href="/">EasyDocker</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          </div>
          </div>
           </div>
          </div>
    <!--Login Modal-->
   	<div class="container" style="margin-top:90px">
		<form  action="" method="post" name="loginform" style="margin-left:100px">
			
		 
 			 <div class="form-group">
    			<label for="inputEmail">Адрес email:</label>
    			<input name="email" id="email" class="form-control"  placeholder="email" required >
  			</div> 

  			<div class="form-group">
    			<label for="inputPassword">Пароль:</label>
    			
    			<input type="password" id="password" class="form-control" placeholder="Password" required name="password">
  			</div>

  			<div class="checkbox">
    			<label>
      			<input type="checkbox"> <p> Запомнить мiня</p>
    			</label>
  			</div>
  			 <div class="form-group" >
        <h3 id="Error" name="Error" class="text-danger" style="margin-left:30px"></h3>
    </div>

  			<a type="button"  class="btn btn-primary" value="Sign In" method="post" OnClick="enter();">Войти</a>
		</form>

	</div>
	</div>
</body>
</html>